
.main{
    min-height: 100dvh;
    padding: 30px 70px;
    background: #f3fafd;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.navbarLogo{
    display: flex;
    align-items: center;
}
.logoText{
    font-size: larger;
    font-weight: bold;
    font-size: 30px;
    color: #023047;
}

.productGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-top: 25px;
}

.noProductionFound{
    display: flex;
    height: 100%;
    width: 100%;
}